@using Hikaya.Resources
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@SharedResources.ApplicationName</h1>
    <p class="lead">@SharedResources.ApplicationDescription</p>
    <p><a href="/Story/Create" class="btn btn-primary btn-lg">@SharedResources.btnHaveStory</a></p>
</div>
